<div flash-alert="success" active-class="in" class="alert container row fade">
    <div class="col-md-12">
    <strong class="alert-heading">Woohoo!</strong>
    <span class="alert-message">{{flash.message}}</span>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input class="form-control input-lg" type="text" ng-model="search.name" ng-keydown="limit=10" autofocus placeholder="Search">
  </div>
</div>

<div class="loader" ng-hide="libraries">
  <p><i class="fa fa-spinner fa-2x fa-spin"></i> Loading...</p>
</div>

<div class="results" ng-show="libraries">
  <div class="libraries">
    <div class="library" ng-repeat="library in libraries | filter:search | orderBy:orderByName | limitTo:limit | as:'libraries.filtered'" repeat-done="getLibraries">
      <div class="row">
        <div class="col-md-6">
          <h4 class="name">
            <a href="/#/{{library.name}}">{{library.name}}</a>
          </h4>

          <div class="btn-group versionSelector">
            <a href="#" dropdown-select="library.versions" dropdown-model="library.selectedVersion">
                Versions <i class="fa fa-caret-down"></i>
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="extras">
            <span class="author">{{library.author}}</span>
            <a ng-if="library.github" class="github" href="{{library.github}}">
              <i class="fa fa-github fa-2x"></i>
            </a>
            <a class="homepage" href="{{library.homepage}}">
              <i class="fa fa-globe fa-2x"></i>
            </a>
          </div>
        </div>
      </div> <!-- row -->

      <div class="row-fluid">
        <p class="description">{{library.description}}</p>
      </div>
      <ul class="versions">
        <li class="version" ng-repeat="(version, files) in library.cdn" ng-if="library.selectedVersion.value == version">
          <ul class="files" ng-class="{full: library.showing}">
            <li class="file" ng-repeat="file in files track by $index">
              <code>{{getCDNLink(library.name, version, file)}}</code>
              <button class="pull-right btn btn-default btn-xs" clip-copy="getCDNLink(library.name, version, file)" clip-click="copied()">
                <i class="fa fa-files-o"></i>
              </button>
            </li>
          </ul>
        </li>
      </ul>

      <div class="show" ng-if="hasEnoughItems(library)" ng-switch on="library.showing">
        <div class="less" ng-switch-when="true" ng-click="library.showing = false">Show less</div>
        <div class="more" ng-switch-default ng-click="library.showing = true">Show more</div>
      </div>

    </div> <!-- library -->
  </div> <!-- libraries -->
</div> <!-- results -->
