<input id="s" type="text" ng-model="search.name" placeholder="Search" class="form-control">


<div class="loader" ng-hide="libraries">Loading</div>

<div class="results" ng-show="libraries">
  <ul class="libraries">
    <li class="library" ng-repeat="library in libraries | filter:search | orderBy:orderByName | limitTo:10 | as:'libraries.filtered'" repeat-done="getLibraries">
      <h4 class="name"><a href="/#/{{library.name}}">{{library.name}}</a></h4>
      <div class="btn-group versionSelector">
        <a href='' title=''
            dropdown-select="library.versions"
            dropdown-model="library.selectedVersion">
            Versions <b class="caret"></b>
        </a>
      </div>
      <div class="extras">
        <span class="author">{{library.author}}</span>
        <a class="github" href="{{library.github}}"><img src="./images/github.png" alt="github" width="26" height="26"></a>
        <a class="homepage" href="{{library.homepage}}"><img src="./images/web.png" alt="homepage" width="26" height="26"></a>
      </div>
      <div class="description">{{library.description}}</div>
      <ul>
      <li class="versions" ng-repeat="(version, files) in library.cdn" ng-show="library.selectedVersion.value == version">
        <ul class="files">
          <li class="file" ng-repeat="file in files track by $index"><a href="//oss.maxcdn.com/libs/{{library.name}}/{{version}}/{{file}}">//oss.maxcdn.com/libs/{{library.name}}/{{version}}/{{file}}</a></li>
        </ul>
      </li>
      </ul>
    </li>
  </ul>
</div>
