body {
    background-color: #f4f4f4;
    color: #5e5b64;
    margin: 40px;
    font: 15px/1.3 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

a:hover{
    text-decoration: none;
}


/*-------------------------
    The search input
--------------------------*/

.search {
    width: 90%;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
    padding: 14px;
    margin: 45px auto 20px;
    position: relative;
}

.search input {
    background: #fff no-repeat 13px 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAWlBMVEWHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKCHmKBNnrrDAAAAHnRSTlMAAgUaJCYpKy4wMmBiam5xc3Z6f4SJrba5vsXHyswZmlxOAAAAe0lEQVR4AV3M2w6CQAxF0c1lQHC4CTgIPf//m2bSF2U9NTvNAaj3pLTXOMp4Kbti4WGRTU3RTKaFrJP1ZL2pA9g04AZtAEkVrlICuFTiStn94/CNiIu+0el8kLWn/HjJxkAYTVp9azA5L0DYD723dvXyI5f5Xj78mc/nFz8cCbx5SV/CAAAAAElFTkSuQmCC);

    border: none;
    width: 100%;
    line-height: 19px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #738289;
    text-indent: 40px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

ul li {
    box-sizing: border-box;

    padding: 0.5em;
}

.extra {
    margin-top: 1em;
}

.dropdown {
    z-index: 10;
}

.dropdown:before, .dropdown:after {
    right: inherit;
    left: 2em;
}

.libraries {
    width: 90%;
}

.library {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-bottom: 1em;

    background-color: white;
    border-radius: 0.2em 0.1em 0.1em 0.1em;
    border: 0.1em solid #e3e3e3;
}

.library .name {
    display: inline;
}

.library .versionSelector {
    margin-left: 1em;
}

.library .description {
    margin: 1em 0.5em 1em 0.5em;
}

.library .extras {
    float: right;
}

.library .extras .author {
    margin-right: 0.5em;

    font-weight: bold;
}

.library .extras img {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.library .files {
    overflow: auto;
    max-height: 15em;
}

.library .file:nth-child(odd) {
    background-color: #f9f9f9;
}

.library .file:nth-of-type(1) {
    border-top: 0.1em solid #ddd;
}

.library .file {
    border-bottom: 0.1em solid #ddd;
}

.loader {
    text-align: center;
}

/* animations - see http://www.nganimate.org/ */
.extra.ng-enter,
.extra.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.extra.ng-leave-active,
.extra.ng-enter {
    opacity: 0;
    height: 0;
}

.extra.ng-leave,
.extra.ng-enter-active {
    opacity: 1;
    height: 100%;
}

.lbdiv {
    margin-bottom: 5px;
}

footer {
    padding-top: 20px;
}
