/*csslint adjoining-classes: false*/

body {
    background-color: #f4f4f4;
    color: #5e5b64;
    font: 15px/1.3 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 40px auto 20px auto;
}

a:hover{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

footer {
    padding-top: 20px;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

/* Bootstrap overrides start */
.container {
    max-width: 940px;
}

nav > .list-inline > li {
    padding-left: 2px;
    padding-right: 2px;
}
/* Bootstrap overrides end */

.logo {
    margin-bottom: 10px;
}

.extra {
    margin-top: 1em;
}

.wrap-dd-select {
    padding: 0.25em;
}

.dropdown {
    max-height: 20em;
    overflow: auto;
    z-index: 10;
}

.dropdown:before,
.dropdown:after {
    left: 2em;
    right: inherit;
}


.library,
.file {
    padding: 0.5em;
}

.library {
    background-color: white;
    border: 0.1em solid #e3e3e3;
    -webkit-border-radius: 0.2em 0.1em 0.1em 0.1em;
    -moz-border-radius: 0.2em 0.1em 0.1em 0.1em;
    border-radius: 0.2em 0.1em 0.1em 0.1em;
    margin-bottom: 1em;
}

.library .name {
    display: inline-block;
    vertical-align: middle;
}

.library .versionSelector {
    margin-left: 1em;
}

.library .description {
    margin: 1em 0;
}

.library .extras .author {
    font-weight: bold;
    margin-right: 0.5em;
}

.library .extras a {
    color: #333;
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    opacity: 0.8;
    vertical-align: middle;
}

.library .extras a:hover {
    opacity: 1;
}

.library .files {
    -webkit-transition: 0.25s linear all;
    -moz-transition: 0.25s linear all;
    -ms-transition: 0.25s linear all;
    -o-transition: 0.25s linear all;
    transition: 0.25s linear all;
    max-height: 15em;
    overflow: auto;
}

.library .files.full {
    max-height: 30em;
}

.library .file:nth-child(odd) {
    background-color: #f9f9f9;
}

.library .file:nth-of-type(1) {
    border-top: 0.1em solid #ddd;
}

.library .file {
    border-bottom: 0.1em solid #ddd;
}

.library .show {
    text-align: center;
    cursor: pointer;
}

.loader {
    text-align: center;
}

.loader i {
    vertical-align: middle;
}

/* animations - see http://www.nganimate.org/ */
.extra.ng-enter,
.extra.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: nowrap;
}

.extra.ng-leave-active,
.extra.ng-enter {
    height: 0;
    opacity: 0;
}

.extra.ng-leave,
.extra.ng-enter-active {
    height: 100%;
    opacity: 1;
}

.lbdiv {
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    header .col-md-8,
    nav > ul {
        text-align: right;
    }

    .library .extras {
        text-align: right;
    }

    .library .description {
        margin: 1em 0.5em;
    }
}
